/* Стилизация полосы прокрутки для Chrome, Edge и Safari */

::-webkit-scrollbar {
    width: 12px; /* Ширина вертикальной полосы прокрутки */
    height: 12px; /* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-track {

    background: #f1f1f1; /* Цвет фона дорожки */

}

::-webkit-scrollbar-thumb {

    background: #888; /* Цвет ползунка */

}

::-webkit-scrollbar-thumb:hover {

    background: #555; /* Цвет ползунка при наведении */

}